@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Gothic+A1:wght@400;700&family=Gugi&family=Lobster&family=Merriweather:ital,wght@1,400;1,700&family=Nanum+Myeongjo:wght@700;800&display=swap');

.mainBox {
  width: 100vw;
  height: 100vh;
  margin: 0px auto;
}
.mainVideo {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 80%;
}
.mainVideo-text {
  position: absolute;
  top: 30%;
  width: 100%;
}
.mainVideo-bold {
  margin-top: -40px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 260px;
  color: #ffffff;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 400;
}
.mainVideo-light {
  margin-top: -80px;

  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-weight: 400;
}
.mainFixed {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  background-color: #ff111f;
  /* 배경이미지는 최소 1920*960으로 제작해야 문제가 안생김 */
  background-size: cover; /* 요소를 비율에 맞게 커버 */
  background-position: center; /* 이미지를 요소의 정가운데로 처리 */
  background-attachment: fixed; /* 스크롤바 움직일때 이미지가 따라다님 */
}
.login {
  width: 100%;
  height: 100%;
  background-image: url('../assets/image/Main5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
.loginBox {
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 3%;
  margin-top: 3%;
  width: 60%;
  height: 80%;
  position: absolute;
  left: 18%;
  display: inline-flex;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 2px 2px 2px white;
  padding: 30px;
  overflow: hidden;
  position: relative;

  animation: 3s infinite alternate slidein;
}

.loginTitle {
  font-family: 'Merriweather', sans-serif;
  font-size: 100px;
  margin-top: 30%;
}

.loginBoxRight {
  display: flex;
  width: 55%;
}
.loginBoxLeft {
  position: absolute;
  width: 45%;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.tags-input-container {
  padding: 0.5em;
  border-radius: 3px;
  width: min(80vw, 600px);
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: -10%;
  margin-left: -18%;
}

.tag-item {
  display: inline;
}

/* .tag-item {
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: 0.5em 0.75em;
  border-radius: 20px;
} */
.tag-item .close {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  font-size: 18px;
  cursor: pointer;
}

.tags-input {
  flex-grow: 1;
  padding: 0.5em 0;
  border: none;
  outline: none;
}

.image1 {
  position: relative;
  height: 100vh;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}
.content span .img-txt {
  background-color: #333;
  text-transform: uppercase;
  color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  letter-spacing: 10px;
}
.Main2 {
  width: 100%;
  height: 100%;
  background-image: url('../assets/image/mainBack.jpg');
}
.Main2Box {
  background-color: rgba(255, 255, 255, 0.3);

  margin-top: 8%;
  width: 100%;
  height: 60%;
  position: absolute;

  display: inline-flex;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px white;
  padding: 30px;
  overflow: hidden;
  position: relative;

  animation: 3s infinite alternate slidein;
}

.Main2BoxRight {
  position: absolute;
  width: 70%;
}
.Main2BoxLeft {
  position: absolute;
  width: 30%;
  margin-top: -10%;
}

.Main3 {
  width: 100%;
  height: 100%;
  background-image: url('../assets/image/Main5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.75;
}
.Main3Box {
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 3%;
  margin-top: 3%;
  width: 60%;
  height: 80%;
  position: absolute;
  left: 18%;
  display: inline-flex;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px white;
  padding: 30px;
  overflow: hidden;
  position: relative;

  animation: 3s infinite alternate slidein;
}

.Main3BoxRight {
  position: absolute;
  width: 55%;
}
.Main3BoxLeft {
  position: absolute;
  width: 45%;
}

.input {
  font-size: 30px;
  color: #222222;
  width: 500px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  margin-left: -50px;
  position: relative;
  background: none;
  z-index: 5;
  font-weight: 600;
  font-family: 'Merriweather', serif;
}

.input::placeholder {
  color: #aaaaaa;
  font-family: 'Merriweather', serif;
}
.input:focus {
  outline: none;
}

.label {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all 0.2s;
}

.input:focus ~ label,
.input:valid ~ label {
  font-size: 16px;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}

.input:focus ~ span,
.input:valid ~ span {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inputDiv {
  position: relative;
  width: 300px;
  margin-left: 50px;
  margin-top: 130px;
}
.btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: 'Merriweather', serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  margin-left: 110%;
  margin-top: 100%;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}
.kakao {
  margin-left: 34%;
  margin-top: 5%;
}
.loginBox2 {
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 3%;
  margin-top: 3%;
  width: 60%;
  height: 60%;
  position: absolute;
  left: 18%;
  display: inline-flex;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 2px 2px 2px white;
  padding: 30px;
  overflow: hidden;
  animation: 3s infinite alternate slidein;
}

.loginBoxRight2 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  width: 100%; /* Change this value as needed */
  height: 100%; /* Change this value as needed */
}

.loginBoxLeft2 {
  position: absolute;
  width: 45%;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.login2 {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/image/Main5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  opacity: 0.8;
}

@font-face {
  font-family: 'font';
  src: url('../font/write.ttf');
}
